<main>
    <div class="mx-auto max-w-screen-2xl p-4 md:p-6 2xl:p-10">
      <div class="mx-auto max-w-242.5">
        <!-- Breadcrumb Start -->
        <div class="mb-6 flex flex-col gap-3 sm:flex-row sm:items-center sm:justify-between">
          <h2 class="text-title-md2 font-bold text-black dark:text-white">
            Company detail
          </h2>
  
          <nav>
            <ol class="flex items-center gap-2">
              <li><a class="font-medium" href="index.html">Dashboard /</a></li>
              <li class="text-primary">Company detail</li>
            </ol>
          </nav>
        </div>
        <!-- Breadcrumb End -->
  
        <!-- ====== Profile Section Start -->
        <div
          class="overflow-hidden rounded-sm border border-stroke bg-white shadow-default dark:border-strokedark dark:bg-boxdark">
          <div class="relative z-20 h-35 md:h-65">
            <img src="./assets/images/company.png" alt="profile cover"
              class="h-full w-full rounded-tl-sm rounded-tr-sm object-cover object-center" />
          </div>
          <div class="px-4 pb-6 text-center lg:pb-8 xl:pb-11.5">
            <div
              class="relative z-30 mx-auto -mt-22 h-30 w-full max-w-30 rounded-full bg-white/20 p-1 backdrop-blur sm:h-44 sm:max-w-44 sm:p-3">
             
            </div>
            <div class="mt-4">
              <h3 class="mb-1.5 text-2xl font-medium text-black dark:text-white">
                {{company?.name}}
              </h3>
              <p class="font-medium text-black dark:text-white"> {{company?.uin}} </p>
  
  
              <div class="mt-6.5">
                <div class="border-t border-gray-200 px-4 py-5 sm:p-0 text-black dark:text-white">
                  <dl class="sm:divide-y sm:divide-gray-200">
         
                    <div class="py-3 text-black dark:text-white sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Address
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{company?.address}} 
                      </dd>
                    </div>
                    <div class="py-3 text-black dark:text-white sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Phone number
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{company?.phone}} 
                      </dd>
                    </div>
            
                    <div class="py-3 text-black dark:text-white sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        City
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{company?.city}} 
                      </dd>
                    </div>
                    <div class="py-3 text-black dark:text-white sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                      <dt class="text-sm font-medium text-gray-500">
                        Website
                      </dt>
                      <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        {{company?.website}} 
                      </dd>
                    </div>
                  </dl>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- ====== Profile Section End -->
      </div>
    </div>
  </main>
  